<h3><%= @bar.name %></h3>
<ul>
  <li><%= @bar.neighborhood %></li>
  <li><%= @bar.city %></li>
  <li><%= @bar.state %></li>
  <li><%= @bar.zip_code %></li>
  <li><%= @bar.phone %></li>
  <li><%= @bar.trading_hour %></li>
  <li><%= @bar.payment %></li>
  <li><%= @bar.rank %></li>
  <li><%= @bar.services %></li>
</ul>
<h3> 'Cervejas:' </h3>
<ul>
  <% if @bar.beers.empty? %>
    Este bar não tem cerveja disponível no momento
    <% else %>
      <% @bar.beers.each do |beer| %>
        <li><%= link_to beer.name, beer_path(beer) %>
            <%= link_to t('checkin'), bar_checkins_path(@bar, beer_id: beer.id), method: :post %></li>
    <% end %>
  <% end %>
</ul>

<div class="card col-md-2">
  <div class="card-body">
    <h5 class="card-title">Últimos Checkins</h5>
    <% if @checkins.empty? %>
      Este bar ainda não recebeu nenhum checkin =(
    <% else %>
      <ul class="list-group list-group-flush">
      <%= @checkins.each do |checkin| %>
        <li class="list-group-item checkin">
          <%= checkin.beer.name %><%= time_ago_in_words(checkin.created_at) %>
          <div class="checkins_counter"><%= checkin.beer %></div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
