<% if @beers.empty? %>
  <div class='alert alert-warning' role='alert'>Cerveja não encontrada</div>
<% else %>
  <div class="row">
    <% @beers.each do |beer| %>
      <div class="col-md-4" style="margin-top: 2em">
        <div class="card card--dark box-shadow">
          <div class="card-header">
            <%= link_to beer.name, beer_path(beer)%>
          </div>
          <div class="card-body data-list-container">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-light bg-dark">Estilo: <%= beer.beer_style.name %></li>
              <li class="list-group-item text-light bg-dark">ABV: <%= beer.abv %>%</li>
              <li class="list-group-item text-light bg-dark">IBU: <%= beer.ibu %></li>
              <li class="list-group-item text-light bg-dark"><%= beer.beer_style.school_beer.name %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
