<div class="md-3 position-fixed">
  <div class="card card--dark md-5 box-shadow">
    <div class="card-img-top">
      <img src="..." alt="Card image cap">
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= @beer.name %></h3>
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-light bg-dark"><h4>Estilo: <%= @beer.beer_style.school_beer.name %></h4></p>
          <li class="list-group-item text-light bg-dark"><h4>Estilo: <%= @beer.beer_style.name %></h4></p>
          <li class="list-group-item text-light bg-dark">Cervejaria: <%= @beer.brewery %></li>
          <li class="list-group-item text-light bg-dark">ABV: <%= @beer.abv %>%</li>
          <li class="list-group-item text-light bg-dark">IBU: <%= @beer.ibu %></li>
          <li class="list-group-item text-light bg-dark">Nacionalidade: <%= @beer.nationality %></li>
          <li class="list-group-item text-light bg-dark">Descrição: <%= @beer.description %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if @beer.bars.empty? %>
  <div class="alert alert-danger" role="alert">No momento nenhum bar está oferecendo esta cerveja</div>
<% else %>
  <div style="margin-left: 450px">
    <% @beer.bars.each do |bar| %>
      <%= render partial: "shared/bar", locals: {bar: bar} %>
    <% end %>
  </div>
<% end %>


<div class="card card--dark md-2" style="float: right; margin-top: 15em; margin-left: 50px">
  <div class="card-body">
    <h5 class="card-title">Últimos Checkins</h5>
  </div>
  <div class="card-body data-list-container">
    <% if @checkins.empty? %>
      <div class="alert alert-danger" role="alert">Seja o primeiro a fazer esse checkin</div>
    <% else %>
      <ul class="list-group list-group-flush">
        <% @checkins.each do |checkin| %>
          <li class="list-group-item checkin check_<%= checkin.created_at.to_i%> text-light bg-dark">
            <%= checkin.bar.name %> <small><i>há <%= time_ago_in_words(checkin.created_at) %></i></small>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
