<div class="col-md-4" style="float: left">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= @beer.name %></h4>
      <p class="card-text"><h4>Estilo: <%= @beer.style %></h4></p>
      <p class="card-text"><div>Cervejaria: <%= @beer.brewery %></div></p>
      <p class="card-text"><div>ABV: <%= @beer.abv %>%</div></p>
      <p class="card-text"><div>IBU: <%= @beer.ibu %></div></p>
      <p class="card-text"><div>Nacionalidade: <%= @beer.nationality %></div></p>
      <p class="card-text"><div>Descrição: <%= @beer.description %></div></p>
    </div>
  </div>
</div>

<div class="col-md-8" style="float: right">
  <% if @beer.bars.empty? %>
    <div class="alert alert-danger" role="alert">No momento nenhum bar está oferecendo esta cerveja</div>
  <% else %>
    <% @beer.bars.each do |bar| %>
      <div class=row>
        <div><h4><%= bar.name %></h4></div>
        <div><%= bar.state %></div>
        <div><%= bar.city %></div>
        <div><%= bar.neighborhood %></div>
      </div>
    <% end %>
  <% end %>
</div>
