<h3>Fazer Checkin</h3>
<ul>
  <li><%= @full_description %></li>
</ul>
<%= form_for [@checkin.bar, @checkin] do |f| %>
  <%= f.label :description, 'Comentário' %>
  <%= f.text_area :description %>
  <%= f.submit 'Check-in' %>
<% end %>
