<% if user_signed_in? %>
  <li class='nav-item'>
    <span class='navbar-text'><%= "Olá #{current_user.email}" %> | </span>
  </li>

  <li class='nav-item'>
    <%= link_to 'Meu perfil', profile_path(current_user.id), class: 'nav-link' %>
  </li>

  <li class='nav-item'>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
  </li>
<% else %>
  <li class='nav-item'>
    <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
  </li>

  <li class='nav-item'>
    <%= link_to('Inscrever-se', new_user_registration_path, class: 'nav-link') %>
  </li>
<% end %>
